In [151]:
import numpy as np
import pandas as pd

In [152]:
df = pd.read_csv('C:/Program Files/MySQL/MySQL Server 8.0/docs/audible_uncleaned.csv')

In [153]:
df

,name,author,narrator,time,releasedate,language,stars,price
0,Geronimo Stilton #11 & #12,Writtenby:GeronimoStilton,Narratedby:BillLobely,2 hrs and 20 mins,04-08-08,English,5 out of 5 stars34 ratings,468.00
1,The Burning Maze,Writtenby:RickRiordan,Narratedby:RobbieDaymond,13 hrs and 8 mins,01-05-18,English,4.5 out of 5 stars41 ratings,820.00
2,The Deep End,Writtenby:JeffKinney,Narratedby:DanRussell,2 hrs and 3 mins,06-11-20,English,4.5 out of 5 stars38 ratings,410.00
3,Daughter of the Deep,Writtenby:RickRiordan,Narratedby:SoneelaNankani,11 hrs and 16 mins,05-10-21,English,4.5 out of 5 stars12 ratings,615.00
4,"The Lightning Thief: Percy Jackson, Book 1",Writtenby:RickRiordan,Narratedby:JesseBernstein,10 hrs,13-01-10,English,4.5 out of 5 stars181 ratings,820.00
...,...,...,...,...,...,...,...,...
87484,Last Days of the Bus Club,Writtenby:ChrisStewart,Narratedby:ChrisStewart,7 hrs and 34 mins,09-03-17,English,Not rated yet,596.00
87485,The Alps,Writtenby:StephenO'Shea,Narratedby:RobertFass,10 hrs and 7 mins,21-02-17,English,Not rated yet,820.00
87486,The Innocents Abroad,Writtenby:MarkTwain,Narratedby:FloGibson,19 hrs and 4 mins,30-12-16,English,Not rated yet,938.00
87487,A Sentimental Journey,Writtenby:LaurenceSterne,Narratedby:AntonLesser,4 hrs and 8 mins,23-02-11,English,Not rated yet,680.00
87488,Havana,Writtenby:MarkKurlansky,Narratedby:FleetCooper,6 hrs and 1 min,07-03-17,English,Not rated yet,569.00

In [154]:
df.info

<bound method DataFrame.info of                                              name                     author  \
0                      Geronimo Stilton #11 & #12  Writtenby:GeronimoStilton
1                                The Burning Maze      Writtenby:RickRiordan
2                                    The Deep End       Writtenby:JeffKinney
3                            Daughter of the Deep      Writtenby:RickRiordan
4      The Lightning Thief: Percy Jackson, Book 1      Writtenby:RickRiordan
...                                           ...                        ...
87484                   Last Days of the Bus Club     Writtenby:ChrisStewart
87485                                    The Alps    Writtenby:StephenO'Shea
87486                        The Innocents Abroad        Writtenby:MarkTwain
87487                       A Sentimental Journey   Writtenby:LaurenceSterne
87488                                      Havana    Writtenby:MarkKurlansky

                        narrator                time releasedate language  \
0          Narratedby:BillLobely   2 hrs and 20 mins    04-08-08  English
1       Narratedby:RobbieDaymond   13 hrs and 8 mins    01-05-18  English
2          Narratedby:DanRussell    2 hrs and 3 mins    06-11-20  English
3      Narratedby:SoneelaNankani  11 hrs and 16 mins    05-10-21  English
4      Narratedby:JesseBernstein              10 hrs    13-01-10  English
...                          ...                 ...         ...      ...
87484    Narratedby:ChrisStewart   7 hrs and 34 mins    09-03-17  English
87485      Narratedby:RobertFass   10 hrs and 7 mins    21-02-17  English
87486       Narratedby:FloGibson   19 hrs and 4 mins    30-12-16  English
87487     Narratedby:AntonLesser    4 hrs and 8 mins    23-02-11  English
87488     Narratedby:FleetCooper     6 hrs and 1 min    07-03-17  English

                               stars   price
0         5 out of 5 stars34 ratings  468.00
1       4.5 out of 5 stars41 ratings  820.00
2       4.5 out of 5 stars38 ratings  410.00
3       4.5 out of 5 stars12 ratings  615.00
4      4.5 out of 5 stars181 ratings  820.00
...                              ...     ...
87484                  Not rated yet  596.00
87485                  Not rated yet  820.00
87486                  Not rated yet  938.00
87487                  Not rated yet  680.00
87488                  Not rated yet  569.00

[87489 rows x 8 columns]>

In [155]:
df.shape

(87489, 8)

In [156]:
df.sample(5)

,name,author,narrator,time,releasedate,language,stars,price
84350,The Cabin,Writtenby:NatashaPreston,Narratedby:MoragSims,8 hrs and 13 mins,12-06-18,English,Not rated yet,633.00
64655,がん治療の正解(週刊東洋経済ｅビジネス新書Ｎo.357),Writtenby:週刊東洋経済編集部,Narratedby:中川典,2 hrs and 40 mins,29-12-21,japanese,Not rated yet,246.00
20392,Revolutionary Brothers,Writtenby:TomChaffin,Narratedby:RickAdamson,17 hrs and 22 mins,26-11-19,English,Not rated yet,221.00
48709,Lourdes,Writtenby:EmileZola,Narratedby:SilviaCecchini,18 hrs and 56 mins,11-01-22,italian,Not rated yet,344.00
82610,Surrender Your Sons,Writtenby:AdamSass,Narratedby:DanielHenning,12 hrs and 46 mins,17-09-20,English,Not rated yet,"1,172.00"

In [157]:
df.describe()

,name,author,narrator,time,releasedate,language,stars,price
count,87489,87489,87489,87489,87489,87489,87489,87489
unique,82767,48374,29717,2284,5058,36,665,1011
top,The Art of War,"Writtenby:矢島雅弘,石橋遊",Narratedby:anonymous,2 mins,16-05-18,English,Not rated yet,586.00
freq,20,874,1034,372,773,61884,72417,5533

In [158]:
new_df = df.copy()

In [159]:
import re
def rated_or_not(text):
    if text == 'Not rated yet':
        return np.nan
    else:
        rating = re.search(r"(\d+)(?=\s+ratings)", text)
        if rating:
            return (rating.group(1))

In [160]:
new_df.insert(7,'Ratings',new_df['stars'].apply(rated_or_not))

In [161]:
new_df

,name,author,narrator,time,releasedate,language,stars,Ratings,price
0,Geronimo Stilton #11 & #12,Writtenby:GeronimoStilton,Narratedby:BillLobely,2 hrs and 20 mins,04-08-08,English,5 out of 5 stars34 ratings,34,468.00
1,The Burning Maze,Writtenby:RickRiordan,Narratedby:RobbieDaymond,13 hrs and 8 mins,01-05-18,English,4.5 out of 5 stars41 ratings,41,820.00
2,The Deep End,Writtenby:JeffKinney,Narratedby:DanRussell,2 hrs and 3 mins,06-11-20,English,4.5 out of 5 stars38 ratings,38,410.00
3,Daughter of the Deep,Writtenby:RickRiordan,Narratedby:SoneelaNankani,11 hrs and 16 mins,05-10-21,English,4.5 out of 5 stars12 ratings,12,615.00
4,"The Lightning Thief: Percy Jackson, Book 1",Writtenby:RickRiordan,Narratedby:JesseBernstein,10 hrs,13-01-10,English,4.5 out of 5 stars181 ratings,181,820.00
...,...,...,...,...,...,...,...,...,...
87484,Last Days of the Bus Club,Writtenby:ChrisStewart,Narratedby:ChrisStewart,7 hrs and 34 mins,09-03-17,English,Not rated yet,NaN,596.00
87485,The Alps,Writtenby:StephenO'Shea,Narratedby:RobertFass,10 hrs and 7 mins,21-02-17,English,Not rated yet,NaN,820.00
87486,The Innocents Abroad,Writtenby:MarkTwain,Narratedby:FloGibson,19 hrs and 4 mins,30-12-16,English,Not rated yet,NaN,938.00
87487,A Sentimental Journey,Writtenby:LaurenceSterne,Narratedby:AntonLesser,4 hrs and 8 mins,23-02-11,English,Not rated yet,NaN,680.00
87488,Havana,Writtenby:MarkKurlansky,Narratedby:FleetCooper,6 hrs and 1 min,07-03-17,English,Not rated yet,NaN,569.00

In [162]:
def stars_out_of_5(text):
    if text == 'Not rated yet':
        return '0'
    else:
        stars = re.search(r"(\d+(\.\d+)?)\s+out\s+of\s+\d+\s+stars", text)
        if stars:
            return (stars.group(1))

In [163]:
new_df['stars'] = new_df['stars'].apply(stars_out_of_5)

In [164]:
new_df = new_df.rename(columns={'stars':'stars out of 5'})

In [165]:
new_df['stars out of 5'] = new_df['stars out of 5'].astype('float')

In [166]:
new_df

,name,author,narrator,time,releasedate,language,stars out of 5,Ratings,price
0,Geronimo Stilton #11 & #12,Writtenby:GeronimoStilton,Narratedby:BillLobely,2 hrs and 20 mins,04-08-08,English,5.0,34,468.00
1,The Burning Maze,Writtenby:RickRiordan,Narratedby:RobbieDaymond,13 hrs and 8 mins,01-05-18,English,4.5,41,820.00
2,The Deep End,Writtenby:JeffKinney,Narratedby:DanRussell,2 hrs and 3 mins,06-11-20,English,4.5,38,410.00
3,Daughter of the Deep,Writtenby:RickRiordan,Narratedby:SoneelaNankani,11 hrs and 16 mins,05-10-21,English,4.5,12,615.00
4,"The Lightning Thief: Percy Jackson, Book 1",Writtenby:RickRiordan,Narratedby:JesseBernstein,10 hrs,13-01-10,English,4.5,181,820.00
...,...,...,...,...,...,...,...,...,...
87484,Last Days of the Bus Club,Writtenby:ChrisStewart,Narratedby:ChrisStewart,7 hrs and 34 mins,09-03-17,English,0.0,NaN,596.00
87485,The Alps,Writtenby:StephenO'Shea,Narratedby:RobertFass,10 hrs and 7 mins,21-02-17,English,0.0,NaN,820.00
87486,The Innocents Abroad,Writtenby:MarkTwain,Narratedby:FloGibson,19 hrs and 4 mins,30-12-16,English,0.0,NaN,938.00
87487,A Sentimental Journey,Writtenby:LaurenceSterne,Narratedby:AntonLesser,4 hrs and 8 mins,23-02-11,English,0.0,NaN,680.00
87488,Havana,Writtenby:MarkKurlansky,Narratedby:FleetCooper,6 hrs and 1 min,07-03-17,English,0.0,NaN,569.00

In [167]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87489 entries, 0 to 87488
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   name            87489 non-null  object
 1   author          87489 non-null  object
 2   narrator        87489 non-null  object
 3   time            87489 non-null  object
 4   releasedate     87489 non-null  object
 5   language        87489 non-null  object
 6   stars out of 5  87489 non-null  float64
 7   Ratings         9250 non-null   object
 8   price           87489 non-null  object
dtypes: float64(1), object(8)
memory usage: 6.0+ MB

In [168]:
new_df['author'] = new_df['author'].str[10:]
new_df['narrator'] = new_df['narrator'].str[11:]

In [169]:
new_df['author'] = new_df['author'].str.strip(" ").str.strip(",").str.split(',')
new_df['author'] = new_df['author'].apply(lambda x:str(x).strip(" ").rstrip(']').lstrip('[')).apply(lambda x:re.sub("'","",x)).apply(lambda x:re.sub('"',"",x))
new_df['narrator'] = new_df['narrator'].str.strip(" ").str.strip(",").str.split(',')
new_df['narrator'] = new_df['narrator'].apply(lambda x:str(x).strip(" ").rstrip(']').lstrip('[')).apply(lambda x:re.sub("'","",x)).apply(lambda x:re.sub('"',"",x))

In [170]:
new_df

,name,author,narrator,time,releasedate,language,stars out of 5,Ratings,price
0,Geronimo Stilton #11 & #12,GeronimoStilton,BillLobely,2 hrs and 20 mins,04-08-08,English,5.0,34,468.00
1,The Burning Maze,RickRiordan,RobbieDaymond,13 hrs and 8 mins,01-05-18,English,4.5,41,820.00
2,The Deep End,JeffKinney,DanRussell,2 hrs and 3 mins,06-11-20,English,4.5,38,410.00
3,Daughter of the Deep,RickRiordan,SoneelaNankani,11 hrs and 16 mins,05-10-21,English,4.5,12,615.00
4,"The Lightning Thief: Percy Jackson, Book 1",RickRiordan,JesseBernstein,10 hrs,13-01-10,English,4.5,181,820.00
...,...,...,...,...,...,...,...,...,...
87484,Last Days of the Bus Club,ChrisStewart,ChrisStewart,7 hrs and 34 mins,09-03-17,English,0.0,NaN,596.00
87485,The Alps,StephenOShea,RobertFass,10 hrs and 7 mins,21-02-17,English,0.0,NaN,820.00
87486,The Innocents Abroad,MarkTwain,FloGibson,19 hrs and 4 mins,30-12-16,English,0.0,NaN,938.00
87487,A Sentimental Journey,LaurenceSterne,AntonLesser,4 hrs and 8 mins,23-02-11,English,0.0,NaN,680.00
87488,Havana,MarkKurlansky,FleetCooper,6 hrs and 1 min,07-03-17,English,0.0,NaN,569.00

In [171]:
def formating_of_capital_letters(text):
    return re.sub(r"(?<=[a-z])(?=[A-Z])|,\s*", lambda m: " " if m.group() == "" else ", ", text)

In [172]:
new_df['author'] = new_df['author'].apply(formating_of_capital_letters)
new_df['narrator'] = new_df['narrator'].apply(formating_of_capital_letters)

In [173]:
new_df.sample(5)

,name,author,narrator,time,releasedate,language,stars out of 5,Ratings,price
76550,Hummingbird Lane,Carolyn Brown,Brittany Pressley,9 hrs and 57 mins,06-04-21,English,0.0,NaN,"1,008.00"
80445,The Golden Staff,Michael Dalton,Mason Lloyd,5 hrs and 52 mins,16-11-21,English,0.0,NaN,586.00
64715,The Public Intellectual in India,Romila Thapar,Manisha Sethi,6 hrs and 42 mins,01-01-17,English,4.0,6,474.00
45272,Halo Breaker,Shayne Silvers,Nicole Poole,11 hrs and 22 mins,11-08-21,English,0.0,NaN,836.00
211,Le géant de pierre,Bertrand Fichou,Clotilde Donna,7 mins,25-01-22,french,0.0,NaN,189.00

In [174]:
new_df['author'] = new_df['author'].str.title()
new_df['narrator'] = new_df['narrator'].str.title()

In [175]:
new_df['author'] = new_df['author'].apply(lambda x:'Unknown' if x in ['Anonymous','Uncredited','Variousauthors'] else x)
new_df['narrator'] = new_df['narrator'].apply(lambda x:'Unknown' if x in ['Anonymous','Uncredited','Variousauthors'] else x)

In [176]:
new_df[['author','narrator']].isin(['Anonymous','Uncredited','Variousauthors']).sum()

author      0
narrator    0
dtype: int64

In [177]:
time_pattern = re.compile(r"(?:(\d+)\s*hrs?)?\s*(?:and)?\s*(?:(\d+)\s*min)?")
def parse_time_string(time_str):
    match = time_pattern.search(time_str)
    if match:
        hours = int(match.group(1) or 0)
        minutes = int(match.group(2) or 0)
        return pd.Timedelta(hours=hours, minutes=minutes)

In [178]:
new_df['time'] = new_df['time'].apply(parse_time_string)

In [179]:
new_df['price'] = new_df['price'].str.replace(',',"").str.replace('Free','0')

In [180]:
new_df['price'] = new_df['price'].astype('float')

In [214]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87489 entries, 0 to 87488
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   name            87489 non-null  object
 1   author          87489 non-null  object
 2   narrator        87489 non-null  object
 3   time            87489 non-null  timedelta64[ns]
 4   releasedate     87489 non-null  object
 5   language        87489 non-null  object
 6   stars out of 5  87489 non-null  float64
 7   Ratings         9250 non-null   object
 8   price           87489 non-null  float64
dtypes: float64(2), object(6), timedelta64[ns](1)
memory usage: 6.0+ MB

In [216]:
new_df['name'] = new_df['name'].str.replace('Book','Vol.').str.replace('#','Vol.')

In [218]:
new_df['name']

0                  Geronimo Stilton Vol.11 & Vol.12
1                                  The Burning Maze
2                                      The Deep End
3                              Daughter of the Deep
4        The Lightning Thief: Percy Jackson, Vol. 1
                            ...
87484                     Last Days of the Bus Club
87485                                      The Alps
87486                          The Innocents Abroad
87487                         A Sentimental Journey
87488                                        Havana
Name: name, Length: 87489, dtype: object

In [220]:
new_df['language'] = new_df['language'].str.capitalize()

In [222]:
new_df

,name,author,narrator,time,releasedate,language,stars out of 5,Ratings,price
0,Geronimo Stilton Vol.11 & Vol.12,Geronimo Stilton,Bill Lobely,0 days 02:20:00,04-08-08,English,5.0,34,468.0
1,The Burning Maze,Rick Riordan,Robbie Daymond,0 days 13:08:00,01-05-18,English,4.5,41,820.0
2,The Deep End,Jeff Kinney,Dan Russell,0 days 02:03:00,06-11-20,English,4.5,38,410.0
3,Daughter of the Deep,Rick Riordan,Soneela Nankani,0 days 11:16:00,05-10-21,English,4.5,12,615.0
4,"The Lightning Thief: Percy Jackson, Vol. 1",Rick Riordan,Jesse Bernstein,0 days 10:00:00,13-01-10,English,4.5,181,820.0
...,...,...,...,...,...,...,...,...,...
87484,Last Days of the Bus Club,Chris Stewart,Chris Stewart,0 days 07:34:00,09-03-17,English,0.0,NaN,596.0
87485,The Alps,Stephen Oshea,Robert Fass,0 days 10:07:00,21-02-17,English,0.0,NaN,820.0
87486,The Innocents Abroad,Mark Twain,Flo Gibson,0 days 19:04:00,30-12-16,English,0.0,NaN,938.0
87487,A Sentimental Journey,Laurence Sterne,Anton Lesser,0 days 04:08:00,23-02-11,English,0.0,NaN,680.0
87488,Havana,Mark Kurlansky,Fleet Cooper,0 days 06:01:00,07-03-17,English,0.0,NaN,569.0

In [224]:
new_df.to_excel('audible cleaned data.xlsx')
new_df.to_csv('audible cleaned data.csv')